<footer class="footer has-backgroud-grey ">
  <div class="content has-text-centered">
    <p>
      <div class="is-title">{{ site.name }} - {{ site.title | escape }}</div> by {%- if site.author -%}
      <a  href="https://{{ site.author_url }}"> {{ site.author }} </a>
      {%- endif -%}
        <p>© 2018 - {{ 'now' | date: '%Y'}} &nbsp; {{- site.copyright | escape -}}</p>
    </p>
    <div class="section">
      {%- include social.html -%}
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="/assets/js/menu.js"></script>