<header class="header">
  <div class="container">
    
    <nav class="navbar" role="navigation" aria-label="main navigation">
      
      <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="{{ site.url }}">
          
        </a>
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbarBasicExample"  class="navbar-menu">
  
      <div class="navbar-start">

        <div class="level">
       
          
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input is-rounded " type="textholder="Pesquisar...">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </p>
                <p class="control">
                  <input class="button is-rounded " type="button" value="Buscar">
                </p>
              </div>
          
     

      

        </div>
        
      </div>
        
   <div class="navbar-end">
 
    
            {%- assign navigation = site.data.navigation.nav -%}
           {%- for nav in navigation -%} 
            <a class="navbar-item" href="{{ nav.url | relative_url }}">
              <i class="fas fa-{{ nav.icon | escape }}"></i> &nbsp;
              {{ nav.title | escape }}</a>
            {%- endfor -%}
          
   </div>
        
      </div> <!-- end navbar-menu ------------------------------------------------------ // -->
      
      
   
    </div>
  </div>
</div>
</div>

</nav>

</header>
 