
<div class="section">

   
    
  <h2 class="title is-title ">{{ page.list_title | default: "Novas Partituras" }}</h2>
    <div class="columns is-multiline">
      
      {%- if site.posts.size > 0 -%}
     
      {%- for post in paginator.posts -%}
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            {%- if post.image -%}
            <a title="{{ post.title }}" href="{{ post.url }}">
               <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="{{ post.title }}">
              </figure>
            </a>
            {%- else -%}
            
            <a title="{{ post.title }}" href="{{ post.url }}">
              <figure class="image is-4by3">
                <img src="/assets/images/no-image-1.jpg" alt="Sem Imagem">
              </figure>
            </a>
            {%- endif -%}
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"> {{ post.title | escape }} </p>
               
              </div>
              </div>
            <div class="content">
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
              {%- if post.categories -%}
              <a class="tag is-link" href="#">{{ post.categories }}</a>  
              {%- endif -%}
              <p></p>
              {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y - %H:%m %P" -%}
              Data: <span datetime="post-meta">{{ post.date | date: date_format }}</span>
               
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}

 

      {% if paginator.total_pages > 1 %}
      <ul>
        {% if paginator.previous_page %}
        <li>
          <a href="">Newer</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    
    </div>
 
  </div>
  <div class="column">
    <div class="level">
      <div class="level-right">
        {%- if paginator.total_pages > 1 -%}
        
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          {%- if paginator.previous_page -%}
          
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous">Anterior</a>
          {%- endif -%}

          {%- if paginator.next_page -%}
           <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next">Próximo</a>
          {%- endif -%}
          <ul class="pagination-list">
      
      {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      
      <li><a class="pagination-link is-current" aria-label="Goto page 1">{{ page }}</a></li>
    {% elsif page == 1 %}
    <li><a  href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link" aria-label="Goto page 45">{{ page }}</a></li>
    {% else %}
      <a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
         </ul>
        </nav>
        {%- endif -%}
        
  </div>
  <div class="level-left">
 
    <p class="rss-subscribe">Inscreva-se <i class="fas fa-rss"></i> <a target="_blank" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
    
    </div>
  </div>
</div>
