
<div  class="section">

   
    
  <h2 class="title is-title ">{{ page.list_title | default: "Novas Partituras" }}</h2>
    <div class="columns is-multiline">
      
      {%- if site.posts.size > 0 -%}
     
      {%- for post in paginator.posts -%}
      <div  class="column is-3">
        <div class="card">
          <div class="card-image">
            {%- if post.image -%}
            <a title="{{ post.title }}" href="{{ post.url }}">
               <figure class="image is-4by3">
                <img src="{{ post.image }}" alt="{{ post.title }}">
              </figure>
            </a>
            {%- else -%}
            
            <a title="{{ post.title }}" href="{{ post.url }}">
              <figure class="image is-4by3">
                <img src="/assets/images/no-image-1.jpg" alt="Sem Imagem">
              </figure>
            </a>
            {%- endif -%}
          </div>
          <div class="card-content">
            <div class="media">
            
              <div class="media-content">
                <p class="title is-4"> {{ post.title | escape }} </p>
               
              </div>
              </div>
            <div class="content">
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
             
                
              <b>Nível:</b> {{ post.nivel}}
                            
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}

 

    </div>
 
  </div>
  <div class="column">
    <div class="level">
      <div class="level-right">
  
        {%- include paginador.html -%}
        
  </div>
  <div class="level-left">
 
    <p class="rss-subscribe">Inscreva-se <i class="fas fa-rss"></i> <a target="_blank" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
    
    </div>
  </div>
</div>
