<div class="columns">
    <div class="column">
        <legend class="title is-5 has-text-centered">Receba grátis seu guia de compras de piano digital</legend>
       
       <div class="column is-8 is-centered is-offset-2">
           <figure class="image">
               <img width="300" height="300" src="/assets/images/guia-piano-digital.png" alt="Guia de Piano Digital">
           
            </figure>
    </div>
        <form action="{{ site.mailchimp-list }}"  method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
            <fieldset>
                <div class="field">
                    <p class="control has-icons-left">
                        <input required name="NAME" class="input" type="text" placeholder="Digite seu nome"> 
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i> </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="EMAIL" required class="input" type="text" placeholder="Digite seu e-mail">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-danger is-fullwidth">
                            Cadastrar
                        </button>
                    </div>
                    
                </fieldset>
        </form>
    </div>
</div>