<section>
  <div class="column">

    <h5 class="title is-5 has-text-centered">Treinamento MuseScore </h5>
    
    <a target="_blank" href="https://bit.ly/2WV8H3P">
      <figure class="image">
        <img alt="Editoração de Partitura com MuseScore 3"
        src="../assets/images/banner_curso_musescore.jpg">
      </figure>
      
      <p></p>
    </a>
    
  </div>
  </section>
 
 <section>
  
  <div class="column">
   
    {%- include newsletters.html -%}

  </div>


 </section>


<!-- Vitrine Inteligente Lomadee -->
<div class="g3S6Z4x927jE" style="width: 300px; height: 250px">
<script type="text/javascript" class="lomadee-recommender-script" src="//ad.lomadee.com/v1/eyJwdWJsaXNoZXJJZCI6MjIyNzk3ODIsInNpdGVJZCI6MzM0NjQ0MTUsInNvdXJjZUlkIjozNTc4NTg2OX0%3D.js?w=300&h=250"></script>
</div><!-- Vitrine Inteligente Lomadee -->
</section>
