{%- if site.youtube_username -%}
<div class="icon">
   <a title="{{ site.youtube_username| escape }}" href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
      <i class="fab fa-youtube fa-3x fa-inverse"></i>
   </a>
</div>
 {%- endif -%}

 {%- if site.twitter_username -%}
<div class="icon">
   <a title="{{ site.twitter_username| escape }}" href="https://twitter.com/{{ site.youtube_username| cgi_escape | escape }}">
      <i class="fab fa-twitter fa-3x fa-inverse"></i>
   </a>
</div>
 {%- endif -%}
 
 {%- if site.rss -%}
<a href="{{ 'feed.xml' | relative_url }}"> <i class="fas fa-rss"></i>
 
      <i class="fab fa-rss fa-3x fa-inverse"></i>
</a>{%- endif -%}