@charset "utf-8";


// Set your brand colors
$red: rgba(255, 0, 64, 1);
$light-grey: rgba(175, 175, 175, 1);
$blue: rgba(46, 148, 218, 1);
$grey: rgba(90, 90, 87, 1);
$whiter: rgba(255, 255, 255, 1);
;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $grey;
$grey-light: $light-grey;
$primary: $red;
$link: $blue;
// Update some of Bulma's component variables

$footer-background-color: $grey;
$footer-color: $whiter;

$navbar-height: 6rem;

$logo-brand-size: 247px; 

$pagination-current-background-color: $red;
$pagination-current-border-color: $red;

// Import partials.
@import "../node_modules/bulma/bulma.sass",
        "componets/hero-image",
        "componets/algolia",
        "componets/base";
