---
layout: default
---

<section class="hero is-dark is-bold is-medium  has-background">
  <img alt="Partituras Musicais Showbiz.mus.br" class="hero-background is-transparent" 
        src="{{ site.url | relative_url }}/assets/images/hero-bg.jpg" />
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          {%- if page.title -%}
          <h1 class="title is-1">
           {{ page.title }}
          </h1>
          {%- endif-%}
          {%- if page.subtitle -%}
          <h2 class="subtitle is-4">
            {{ page.subtitle }}
          </h2>
          {%- endif-%}
        </div>
        <div class="column is-6">
          
        </div>
      </div>
      
  
    </div>
  </div>
</section>

<div class="container">

  <div class="section">
    
    {{ content }}
   

    {%- include last_sheet.html -%}
    </div>
    
  </div>