---
layout: default
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1" itemprop="name headline">{{ page.title | escape }}</h1>

      <h2 class="subtitle">
        {{ page.categories }}
      </h2>
    </div>
  </div>
</section>
<section class="section">

  <main class="container" aria-label="Content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <a href="{{ site.url | relative_url}}">Principal</a></li>
        <li><a href="#">{{ page.categories }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
      </ul>
    </nav>
  </main>
</section>

<section class="section">

  <div class="container">

    <!-- star columns left----- // -->
    <div class="columns">

      <!--  starter column -------- // -->
      <div class="column is-9">

        <article itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <p class="post-meta">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
              {%- if page.author -%}
              | <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                  itemprop="name">{{ page.author }}</span></span>
              {%- endif -%}</p>
          </header>

          <div class="content is-medium" itemprop="articleBody">

 <h1>Latest Posts</h1>
 
 

{%- if page.url == "/blog" -%}
{% assign blog = site.categories.blog  %}
{%- endif -%}
 
{%- if page.url == "/partituras" -%}
{% assign blog = site.categories.partituras  %}
{%- endif -%}
  
  {% for post in blog %}
 

 
 
 <div class="columns">

   
   <div class="column is-4">
     
     {%- if post.image -%}
     <figure class="image  is-3by2">
       <img alt="{{ post.title }}" src="{{ post.image}}">
      </figure>
      {% else %}
      <figure class="image is-3by2">
        <img alt="{{ post.title }}" src="/assets/images/no-image-1.jpg">
      </figure>
      {%- endif -%}
      
    </div>
    
    <div class="column is-8">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | truncate: 550, '...'  }}</p>
      
    </div>
    
  </div>
       
 
 
  {% endfor %}
 
 
{%- include paginador.html -%}

            {% for category in categories %}
            <h3>{{ category[0] }}</h3>
            <ul>
              {% for post in category[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>

      </div>

      <div class="column is-3 has-background-light">
        {%- include sidebar.html -%}

      </div>

      {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
      {%- endif -%}

      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
</section>
</div>

</div> <!-- end /div columns----------- // -->