---
layout: default
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="column"> 
        
        <h1 class="title is-1" itemprop="name headline">{{ page.title | escape }}</h1>
        
        <h2 class="subtitle">
          {{ page.categories }}
        </h2>
      </div>
    </div>
  </div>
</section>

<!-- end header pages---- // -->
<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
          <section class="section">
          
            <main class="container">
              <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                  <li>
                    <span class="icon is-small">
                      <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <a href="{{ site.url | relative_url}}">Principal</a></li>
             
                  <li class="is-active">
                     <span class="icon is-small">
                      <i class="fas fa-{{ page.icon }}" aria-hidden="true"></i>
                    </span
                    <a href="#" aria-current="page">{{ page.title }}</a></li>
                </ul>
              </nav>
            </main>
          </section>
          <!-- START ARTICLE -->
          <div class="card article">
              <div class="card-content">
                  <div class="media">
                      <div class="media-content has-text-centered">
                       
                        
                      </div>
                  </div>
                  <div class="content article-body">
                      {{ content }}
                  </div>
              </div>
          </div>
          <!-- END ARTICLE -->
          <!-- START ARTICLE -->
          
        </div>

  </section>
  <!-- END ARTICLE FEED -->
  </div>