---
layout: default
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1" itemprop="name headline">{{ page.title | escape }}</h1>

      <h2 class="subtitle">
        {%- if page.tags -%}
        {{ page.tags | array_to_sentence_string }}
        {%- endif -%}
      </h2>
    </div>
  </div>
</section>
<section class="section">

  <main class="container" aria-label="Content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <a href="{{ site.url | relative_url}}">Principal</a></li>
        <li><a href="#">{{ page.categories | array_to_sentence_string}}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
      </ul>
    </nav>
  </main>
</section>
<section class="section">

  <div class="container">

    <!-- star columns left----- // -->
    <div class="columns">

      <!--  starter column -------- // -->
      <div class="column is-9">

        <article itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">

            {%- if page.author -%}
            | <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}</p>
          </header>

          <div class="content is-medium" itemprop="articleBody">

           <div class="columns">
              
            <div class="column is-6">
                <img alt="{{ page.title }}" src="{{ page.image }}">
            </div>


              <!-- page partitura filter ----------------- // -->

              {%- if page.category == "partituras" -%}
            <div class="column is-5">
                <b>Partitura:</b> {{ page.subtitle }}
                <br>
                <b>Nível:</b> {{ page.nivel }}
                <br>
                <b>Descrição:</b> {{ content}}
                <p class="section buttons">
                  {%- if  page.download_pdf -%}

                  <a href="{{ page.download_pdf }}" download target="_top" class="button is-large is-danger">
                    <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                    </span>
                    <span>Download PDF</span>
                  </a>


                  {%- endif -%}
             </div>
             {%- endif -%} <!--  End filter partituras ------------ // -->
            </div>
         
            <div class="section">
              {%- include shered.html -%}
          
              {%- include disqus_comments.html -%}
            </div>
          
          </div>
            
          </div>
          
        </p>
      </article>
      <div class="column is-3 has-background-light">
        {%- include sidebar.html -%}
      </div>
    </section>
    
  </div>
  
</div> <!-- end /div columns----------- // -->

