---
layout: default
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="column is-6 is-offset-3"> 
        
       
        
        <div class="field">
          <p class="control has-icons-left">
         
            <input type="text" class="input is-large" id="search-input" placeholder="pesquisar por...">
         <span class="icon is-left">
          <i class="fas fa-search"></i>
         </span>
            </p>
        
        </div>
          

        </div>
        <h2 class="subtitle">
          {{ page.categories }}
        </h2>
      </div>
    </div>
  </div>
</section>

<!-- end header pages---- // -->
<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
          
          <!-- START ARTICLE -->
          <div class="card article">
              <div class="card-content">
                  <div class="media">
               
                  <div class="content article-body">
                    <div id="search-container">
 
<div id="results-container"></div>
</div>

                  </div>
              </div>
          </div>
          <!-- END ARTICLE -->
          <!-- START ARTICLE -->
          
        </div>

  </section>
  <!-- END ARTICLE FEED -->
  </div>